.hide{
    display: none;
}

.radioForm td{
    min-width: 100px;
}

.inputForm td {
    min-width: 175px;
}

#result{
    width: 300px;
    min-height: 125px;
    border: 1px solid black;
    padding: 5px;
}